

.header {
    background-color: #1F2937;
    display: flex;
    height: 72px;
}
.logo {
    display: flex;
    font-size: 32px;
    justify-content: space-around;
    align-items: center; 
    flex-grow: 1;
}
.button-bar {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center; 
}
.header-button {
    background-color: whitesmoke;
}
.hero {
    height: 192px;
    background-color: #1F2937;
}